# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
.DS_Store
Thumbs.db

# Virtual Environments
.venv/
venv/
env/
ENV/

# Development logs & DBs
*.log
.zallama/
models_dir/
logs_dir/

# Git Keep
!.gitkeep

# Large precompiled binaries and dependencies
bin/
llama.cpp/
dist-*/
build/

# Configuration overrides (prevent pushing credentials/local configurations)
config/config.yaml
models/registry.yaml

dist.zip